body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 190px 570px;
  grid-template-rows: 80px 80px 400px 80px;
  gap:15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #FFDE22;
}

.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  background-color: #FF7755;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  grid-area: 4 / 1 / 5 / 3;
  background-color: #393f4d;
}
